<h3>{{title}}</h3>
<input [(ngModel)]='user.name'>
<input [(ngModel)]='user.age' placeholder="age" type="number">
<input type="date" [(ngModel)] = 'user.dob'>
<button (click)='save()'>Save</button>
<table *ngIf='userArray.length'>
  <thead>
    <td>FirstName</td>
    <td>Age</td>
    <td>DOB</td>
  </thead>
  <tbody>
    <tr *ngFor='let user of userArray; index as i'>
      <td><a [href]='user.name'>{{user.name}}</a></td>
      <td>{{user.age}}</td>
      <td>{{user.dob}}</td>
      <td><button (click)='this.deleteUser(user.id, i)'>X</button></td>
    </tr>
  </tbody>
</table>
